body {
    background: #202028;
    color: #fff;
    font-family: sans-serif;
    font-size: 2em;
  }

  canvas {
    border: solid .2em #fff;
    height: 90vh;
  }

  #startGame:hover{
      cursor: pointer;
  }

  #myHeader{
      font-size: 35px;
  }
  #score{
      font-size: 45px;
  }

   .scores{
      
     
      margin-top: 3rem;
  } 


  
  .myDiv{
      color: white;
      float: left;
      font-size: 20px;
      text-align: center;
      margin-right: 1rem;
  }